* {
  box-sizing: border-box;
}

/*body*/
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*hearth*/
.hearth {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  background: radial-gradient(ellipse at bottom, #136E0A 0%, #092F05 100%);
  border-radius: 100% 100% 0 0;
  z-index: 99;
}

/**************************************night**************************************/
/*stars*/
/*moon*/
.moon {
  position: absolute;
  top: 25%;
  left: 75%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: grey;
  filter: drop-shadow(0 0 10px white);
  z-index: 2;
}

.stars-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stars-container__star {
  width: 5px;
  height: 5px;
  border: 0.5px solid white;
  border-radius: 50%;
  background-color: white;
  filter: drop-shadow(0 0 10px white);
  animation: 2s linear 0s infinite reverse shine;
}
.stars-container__star:nth-child(1) {
  opacity: 0.1465;
  transform: translate(17.1566vw, 49.188vh) scale(0.226);
}
.stars-container__star:nth-child(2) {
  opacity: 0.404;
  transform: translate(11.0254vw, 61.504vh) scale(0.4444);
}
.stars-container__star:nth-child(3) {
  opacity: 0.3147;
  transform: translate(16.8052vw, 56.232vh) scale(0.0802);
}
.stars-container__star:nth-child(4) {
  opacity: 0.5742;
  transform: translate(6.5418vw, 45.51vh) scale(0.44);
}
.stars-container__star:nth-child(5) {
  opacity: 0.3953;
  transform: translate(5.0991vw, 48.387vh) scale(0.3644);
}
.stars-container__star:nth-child(6) {
  opacity: 0.3062;
  transform: translate(-2.8258vw, 62.906vh) scale(0.0513);
}
.stars-container__star:nth-child(7) {
  opacity: 0.4529;
  transform: translate(2.5314vw, 45.104vh) scale(0.152);
}
.stars-container__star:nth-child(8) {
  opacity: 0.7837;
  transform: translate(-5.441vw, 72.591vh) scale(0.0798);
}
.stars-container__star:nth-child(9) {
  opacity: 0.6272;
  transform: translate(0.6654vw, 62.543vh) scale(0.8508);
}
.stars-container__star:nth-child(10) {
  opacity: 0.4298;
  transform: translate(14.0017vw, 34.899vh) scale(0.6957);
}
.stars-container__star:nth-child(11) {
  opacity: 0.8439;
  transform: translate(3.8527vw, 58.072vh) scale(0.4337);
}
.stars-container__star:nth-child(12) {
  opacity: 0.0384;
  transform: translate(14.3039vw, 56.26vh) scale(0.3195);
}
.stars-container__star:nth-child(13) {
  opacity: 0.0229;
  transform: translate(-5.312vw, 61.86vh) scale(0.3431);
}
.stars-container__star:nth-child(14) {
  opacity: 0.5613;
  transform: translate(5.3762vw, 39.829vh) scale(0.701);
}
.stars-container__star:nth-child(15) {
  opacity: 0.7894;
  transform: translate(-0.8374vw, 76.005vh) scale(0.1737);
}
.stars-container__star:nth-child(16) {
  opacity: 0.2417;
  transform: translate(-6.0462vw, 42.555vh) scale(0.8323);
}
.stars-container__star:nth-child(17) {
  opacity: 0.0992;
  transform: translate(0.8851vw, 78.421vh) scale(0.8211);
}
.stars-container__star:nth-child(18) {
  opacity: 0.0711;
  transform: translate(7.1153vw, 57.785vh) scale(0.0354);
}
.stars-container__star:nth-child(19) {
  opacity: 0.326;
  transform: translate(10.6285vw, 54.048vh) scale(0.84);
}
.stars-container__star:nth-child(20) {
  opacity: 0.1126;
  transform: translate(16.4222vw, 58.812vh) scale(0.6999);
}
.stars-container__star:nth-child(21) {
  opacity: 0.2302;
  transform: translate(2.5357vw, 66.787vh) scale(0.9467);
}
.stars-container__star:nth-child(22) {
  opacity: 0.0601;
  transform: translate(6.982vw, 70.702vh) scale(0.9417);
}
.stars-container__star:nth-child(23) {
  opacity: 0.5814;
  transform: translate(-1.2035vw, 59.461vh) scale(0.8679);
}
.stars-container__star:nth-child(24) {
  opacity: 0.1315;
  transform: translate(12.5023vw, 55.718vh) scale(0.2422);
}
.stars-container__star:nth-child(25) {
  opacity: 0.4559;
  transform: translate(-2.6363vw, 68.696vh) scale(0.236);
}
.stars-container__star:nth-child(26) {
  opacity: 0.6283;
  transform: translate(6.4758vw, 53.865vh) scale(0.4524);
}
.stars-container__star:nth-child(27) {
  opacity: 0.8037;
  transform: translate(4.4555vw, 41.781vh) scale(0.5187);
}
.stars-container__star:nth-child(28) {
  opacity: 0.3128;
  transform: translate(2.591vw, 77.719vh) scale(0.7124);
}
.stars-container__star:nth-child(29) {
  opacity: 0.2801;
  transform: translate(-0.9155vw, 44.164vh) scale(0.4184);
}
.stars-container__star:nth-child(30) {
  opacity: 0.5937;
  transform: translate(0.2848vw, 38.688vh) scale(0.5437);
}
.stars-container__star:nth-child(31) {
  opacity: 0.7339;
  transform: translate(-3.19vw, 72.213vh) scale(0.4834);
}
.stars-container__star:nth-child(32) {
  opacity: 0.2393;
  transform: translate(-1.2316vw, 53.313vh) scale(0.4425);
}
.stars-container__star:nth-child(33) {
  opacity: 0.3251;
  transform: translate(11.1963vw, 79.596vh) scale(0.1228);
}
.stars-container__star:nth-child(34) {
  opacity: 0.267;
  transform: translate(10.7105vw, 44.287vh) scale(0.8915);
}
.stars-container__star:nth-child(35) {
  opacity: 0.0744;
  transform: translate(15.9237vw, 49.138vh) scale(0.7544);
}
.stars-container__star:nth-child(36) {
  opacity: 0.5185;
  transform: translate(-1.1107vw, 38.857vh) scale(0.2157);
}
.stars-container__star:nth-child(37) {
  opacity: 0.8737;
  transform: translate(-3.6152vw, 35.443vh) scale(0.0942);
}
.stars-container__star:nth-child(38) {
  opacity: 0.3956;
  transform: translate(10.6746vw, 43.646vh) scale(0.8646);
}
.stars-container__star:nth-child(39) {
  opacity: 0.4534;
  transform: translate(9.1759vw, 33.759vh) scale(0.9852);
}
.stars-container__star:nth-child(40) {
  opacity: 0.06;
  transform: translate(-2.6423vw, 62.549vh) scale(0.7679);
}
@-webkit-keyframes shine {
  0% {
    filter: drop-shadow(0 0 10px white);
  }
  50% {
    filter: drop-shadow(0 0 0px white);
  }
  100% {
    filter: drop-shadow(0 0 10px white);
  }
}
@keyframes shine {
  0% {
    filter: drop-shadow(0 0 10px white);
  }
  50% {
    filter: drop-shadow(0 0 0px white);
  }
  100% {
    filter: drop-shadow(0 0 10px white);
  }
}

/**************************************day**************************************//*# sourceMappingURL=style.css.map */