/*body*/
body {
  overflow: hidden;
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgb(0, 212, 255) 33%, rgb(9, 9, 121) 66%, rgb(2, 0, 36) 100%);
  height: 100vh;
  margin: 0%;
  -webkit-animation: 20s linear infinite sky-color;
          animation: 20s linear infinite sky-color;
}

@-webkit-keyframes sky-color {
  0% {
    background: rgb(0, 212, 255);
  }
  50% {
    background: rgb(2, 0, 36);
  }
  100% {
    background: rgb(0, 212, 255);
  }
}

@keyframes sky-color {
  0% {
    background: rgb(0, 212, 255);
  }
  50% {
    background: rgb(2, 0, 36);
  }
  100% {
    background: rgb(0, 212, 255);
  }
}
/*hearth*/
.hearth {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  background: radial-gradient(ellipse at bottom, #136E0A 0%, #092F05 100%);
  border-radius: 100% 100% 0 0;
  z-index: 99;
}

/*moon & sun*/
.planet-container {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 120%;
  height: 100%;
  animation: 20s infinite linear reverse planet-phase;
  z-index: 2;
}
.planet-container__moon {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: grey;
  filter: drop-shadow(0 0 10px white);
}
.planet-container__sun {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: yellow;
  filter: drop-shadow(0 0 10px white);
}

@-webkit-keyframes planet-phase {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes planet-phase {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**************************************night**************************************/
/*sky*/
.night {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

/*stars*/
.stars-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.stars-container__star {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  filter: drop-shadow(0 0 10px white);
  animation: 2s linear 0s infinite reverse shine;
}
.stars-container__star:nth-child(1) {
  opacity: 0.7527;
  transform: translate(6.3589vw, 61.886vh) scale(0.734);
}
.stars-container__star:nth-child(2) {
  opacity: 0.2995;
  transform: translate(10.2267vw, 55.428vh) scale(0.6021);
}
.stars-container__star:nth-child(3) {
  opacity: 0.6444;
  transform: translate(11.5632vw, 64.132vh) scale(0.0883);
}
.stars-container__star:nth-child(4) {
  opacity: 0.7505;
  transform: translate(-4.1623vw, 78.489vh) scale(0.0848);
}
.stars-container__star:nth-child(5) {
  opacity: 0.0114;
  transform: translate(0.464vw, 62.611vh) scale(0.9859);
}
.stars-container__star:nth-child(6) {
  opacity: 0.9096;
  transform: translate(-7.3125vw, 43.52vh) scale(0.1043);
}
.stars-container__star:nth-child(7) {
  opacity: 0.4576;
  transform: translate(-0.0998vw, 51.047vh) scale(0.4305);
}
.stars-container__star:nth-child(8) {
  opacity: 0.5485;
  transform: translate(11.2315vw, 49.871vh) scale(0.6364);
}
.stars-container__star:nth-child(9) {
  opacity: 0.4985;
  transform: translate(16.4472vw, 73.187vh) scale(0.7453);
}
.stars-container__star:nth-child(10) {
  opacity: 0.1078;
  transform: translate(7.5595vw, 49.943vh) scale(0.6988);
}
.stars-container__star:nth-child(11) {
  opacity: 0.6115;
  transform: translate(-4.2845vw, 45.187vh) scale(0.378);
}
.stars-container__star:nth-child(12) {
  opacity: 0.281;
  transform: translate(18.3778vw, 37.719vh) scale(0.8333);
}
.stars-container__star:nth-child(13) {
  opacity: 0.1242;
  transform: translate(8.518vw, 41.479vh) scale(0.8749);
}
.stars-container__star:nth-child(14) {
  opacity: 0.5509;
  transform: translate(11.8592vw, 78.313vh) scale(0.6409);
}
.stars-container__star:nth-child(15) {
  opacity: 0.8102;
  transform: translate(9.3259vw, 30.16vh) scale(0.2296);
}
.stars-container__star:nth-child(16) {
  opacity: 0.2906;
  transform: translate(0.832vw, 45.28vh) scale(0.3526);
}
.stars-container__star:nth-child(17) {
  opacity: 0.9287;
  transform: translate(8.6417vw, 55.408vh) scale(0.7846);
}
.stars-container__star:nth-child(18) {
  opacity: 0.0769;
  transform: translate(8.7094vw, 60.15vh) scale(0.5038);
}
.stars-container__star:nth-child(19) {
  opacity: 0.3894;
  transform: translate(3.9701vw, 33.092vh) scale(0.0675);
}
.stars-container__star:nth-child(20) {
  opacity: 0.4816;
  transform: translate(15.1944vw, 56.824vh) scale(0.3193);
}
.stars-container__star:nth-child(21) {
  opacity: 0.4329;
  transform: translate(4.9772vw, 51.231vh) scale(0.822);
}
.stars-container__star:nth-child(22) {
  opacity: 0.2478;
  transform: translate(12.6338vw, 46.768vh) scale(0.167);
}
.stars-container__star:nth-child(23) {
  opacity: 0.848;
  transform: translate(5.0626vw, 32.477vh) scale(0.691);
}
.stars-container__star:nth-child(24) {
  opacity: 0.1159;
  transform: translate(9.3216vw, 45.69vh) scale(0.4312);
}
.stars-container__star:nth-child(25) {
  opacity: 0.4442;
  transform: translate(8.1674vw, 34.502vh) scale(0.1453);
}
.stars-container__star:nth-child(26) {
  opacity: 0.9179;
  transform: translate(2.0999vw, 44.568vh) scale(0.1358);
}
.stars-container__star:nth-child(27) {
  opacity: 0.4216;
  transform: translate(13.589vw, 41.527vh) scale(0.0893);
}
.stars-container__star:nth-child(28) {
  opacity: 0.4457;
  transform: translate(2.5116vw, 63.105vh) scale(0.2497);
}
.stars-container__star:nth-child(29) {
  opacity: 0.4951;
  transform: translate(10.0884vw, 67.602vh) scale(0.8586);
}
.stars-container__star:nth-child(30) {
  opacity: 0.4264;
  transform: translate(-3.2072vw, 58.299vh) scale(0.2246);
}
.stars-container__star:nth-child(31) {
  opacity: 0.4832;
  transform: translate(4.461vw, 48.111vh) scale(0.0537);
}
.stars-container__star:nth-child(32) {
  opacity: 0.0542;
  transform: translate(-2.6284vw, 38.109vh) scale(0.8546);
}
.stars-container__star:nth-child(33) {
  opacity: 0.5095;
  transform: translate(18.0501vw, 47.278vh) scale(0.0337);
}
.stars-container__star:nth-child(34) {
  opacity: 0.541;
  transform: translate(17.1009vw, 66.984vh) scale(0.7157);
}
.stars-container__star:nth-child(35) {
  opacity: 0.9182;
  transform: translate(-2.915vw, 45.583vh) scale(0.5105);
}
.stars-container__star:nth-child(36) {
  opacity: 0.2094;
  transform: translate(-3.3121vw, 41.677vh) scale(0.4174);
}
.stars-container__star:nth-child(37) {
  opacity: 0.9363;
  transform: translate(1.7246vw, 50.366vh) scale(0.894);
}
.stars-container__star:nth-child(38) {
  opacity: 0.4801;
  transform: translate(10.8506vw, 72.041vh) scale(0.7678);
}
.stars-container__star:nth-child(39) {
  opacity: 0.6968;
  transform: translate(-3.2384vw, 35.533vh) scale(0.7852);
}
.stars-container__star:nth-child(40) {
  opacity: 0.8402;
  transform: translate(1.7463vw, 63.502vh) scale(0.9529);
}
@-webkit-keyframes shine {
  0% {
    filter: drop-shadow(0 0 10px white);
  }
  50% {
    filter: drop-shadow(0 0 0px white);
  }
  100% {
    filter: drop-shadow(0 0 10px white);
  }
}
@keyframes shine {
  0% {
    filter: drop-shadow(0 0 10px white);
  }
  50% {
    filter: drop-shadow(0 0 0px white);
  }
  100% {
    filter: drop-shadow(0 0 10px white);
  }
}

/**************************************day**************************************//*# sourceMappingURL=style.css.map */