/**************************************night**************************************/
.night {
  width: 80vw;
  height: 100%;
}

/**************************************day**************************************/
.day {
  width: 100%;
  height: 100%;
}

