/*body*/
body {
    overflow: hidden;
    @include sky-background;
    height: 100vh;
    margin: 0%;
    animation: 20s linear infinite sky-color;
}
@keyframes sky-color {
    0% {
        background: rgb(0,212,255);
    }
    50% {
        background: rgb(2,0,36);
    }
    100% {
        background: rgb(0,212,255);
    }
}

/*hearth*/
.hearth {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background: $hearth-background;
    border-radius: 100% 100% 0 0;
    z-index: 99;
}

/*moon & sun*/
.planet-container {
    position: absolute;
    top: 90%;
    left: 0%;
    width: 120%;
    height: 100%;
    animation: 20s infinite linear reverse planet-phase;
    z-index: 2;
    &__moon {
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: grey;
        filter: drop-shadow(0 0 10px white);
    }
    &__sun {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: yellow;
        filter: drop-shadow(0 0 10px white);
    }
}
@keyframes planet-phase {
    0% { 
        transform:rotate(0deg); 
    } 
    50% { 
        transform:rotate(180deg); 
    }
    100% {
        transform:rotate(360deg);
    }
}


/**************************************night**************************************/
/*sky*/
.night {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
/*stars*/
.stars-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
 
        &__star {
            $total: 40;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: white;
            filter: drop-shadow(0 0 10px white);
            animation: 2s linear 0s infinite reverse shine;
            @for $i from 1 through $total {
                $random-x: random(100000) * 0.0001vw;
                $random-offset: random_range(-100000, 100000) * 0.0001vw;
                $random-x-end: $random-x + $random-offset;
                $random-yoyo-time: random_range(30000, 80000) / 100000;
                $random-yoyo-y: $random-yoyo-time * 100vh;
                $random-scale: random(10000) * 0.0001;
            
                &:nth-child(#{$i}) {
                  opacity: random(10000) * 0.0001;
                  transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
                }
            }
            @keyframes shine {
                0% {
                    filter: drop-shadow(0 0 10px white);
                }
                50% {
                    filter: drop-shadow(0 0 0px white);
                }
                100% {
                    filter: drop-shadow(0 0 10px white);
                }
            }
        }
    }


/**************************************day**************************************/
